# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
ENV/
env/
*.env

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS junk files
.DS_Store
Thumbs.db

# Logs
*.log
